<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Creator Name</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Supplier Name</th>
            <th>Keywords</th>
            <th>Created At</th>
            <th>Currency Id</th>
            <th>Currency Symbol</th>
            <th>Total Gross Amount</th>
            <th>Total Net Amount</th>
            <th>Base Gross Amount</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>